{{define "marketing-footer"}}
Built and maintained by Eric Bower[0]
=> gemini://erock.io [0]erock

=> / home
=> /spec spec
=> /ops ops
=> /help help
=> https://github.com/neurosnap/lists.sh source
{{end}}
