{{define "marketing-footer"}}
Built and maintained by Eric Bower[0]
=> gemini://erock.io [0]

=> gemini://{{.Site.Domain}} home
=> gemini://{{.Site.Domain}}/spec spec
=> gemini://{{.Site.Domain}}/ops ops
=> gemini://{{.Site.Domain}}/help help
=> https://github.com/neurosnap/lists.sh source
{{end}}
