{{define "marketing-footer"}}
---

Built and maintained by Eric Bower
=> gemini://erock.io erock

=> / home
=> /spec spec
=> /ops ops
=> /help help
=> https://github.com/neurosnap/lists.sh source
{{end}}
