{{template "base" .}}

{{define "body"}}
# read
recently updated lists

{{if .NextPage}}=> {{.NextPage}} next{{end}}
{{if .PrevPage}}=> {{.PrevPage}} prev{{end}}
{{range .Posts}}
=> {{.URL}} [{{.Username}}]{{.Padding}} {{.Title}} ({{.UpdatedTimeAgo}})
{{- end}}
{{template "marketing-footer" .}}
{{end}}
