{{define "base"}}
<!doctype html>
<html lang="en" data-theme="theme-dark">
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{block "title" .}}lists.sh -- microblog for your lists{{end}}</title>
        <meta name="description" content="A microblog for lists" />
        <link rel="stylesheet" href="/main.css" />
    </head>
    {{template "body" .}}
</html>
{{end}}
