{{template "base" .}}

{{define "title"}}{{.PageTitle}}{{end}}

{{define "meta"}}
<meta name="description" content="{{.Username}}'s blog{{if .Bio}}: {{.Bio}}{{end}}" />

<meta property="og:type" content="website">
<meta property="og:site_name" content="lists.sh">
<meta property="og:url" content="{{.URL}}">
<meta property="og:title" content="{{.Username}}'s blog">
{{if .Bio}}<meta property="og:description" content="{{.Bio}}">{{end}}

<meta property="twitter:card" content="summary">
<meta property="twitter:url" content="{{.URL}}">
<meta property="twitter:title" content="{{.Username}}'s blog">
{{if .Bio}}<meta property="twitter:description" content="{{.Bio}}">{{end}}
{{end}}

{{define "body"}}
<header class="text-center">
    <h1 class="text-2xl font-bold">{{.Username}}'s blog</h1>
    {{if .Bio}}<p class="text-lg">{{.Bio}}</p>{{end}}
    <a href="{{.Username}}/rss" class="text-lg">rss</a>
    <hr />
</header>
<main class="posts">
    {{range .Posts}}
    <article>
        <div class="flex items-center">
            <time datetime="{{.PublishAtISO}}" class="font-italic text-sm post-date">{{.PublishAt}}</time>
            <h2 class="font-bold flex-1"><a href="{{.URL}}">{{.Title}}</a></h2>
        </div>
    </article>
    {{end}}
</main>
{{template "footer" .}}
{{end}}
