{{template "base"}}

{{define "title"}}operations -- lists.sh{{end}}

{{define "meta"}}
<meta name="description" content="a microblog for your lists" />
{{end}}

{{define "body"}}
<body id="doc">
    <header>
        <h1 class="text-2xl">Operations (WIP)</h1>
    </header>
    <div>
        <p>This is the operations page.</p>
    </div>
    {{template "marketing-footer" .}}
</body>
{{end}}
