{{template "base" .}}

{{define "title"}}operations -- lists.sh{{end}}

{{define "meta"}}
<meta name="description" content="lists.sh operations" />
{{end}}

{{define "body"}}
<header>
    <h1 class="text-2xl">Operations (WIP)</h1>
    <ul>
        <li><a href="/privacy">privacy</a></li>
        <li><a href="/transparency">transparency</a></li>
    </ul>
</header>
<main>
    <p>This is the operations page.</p>
</main>
{{template "marketing-footer" .}}
{{end}}
