{{template "base" .}}

{{define "title"}}{{.PageTitle}}{{end}}

{{define "body"}}
<body id="post">
    <header>
        <h1 class="text-2xl font-bold">{{.Title}}</h1>
        <p class="font-bold">{{.PublishAt}} on <a href="/{{.Username}}">{{.Username}}'s blog</a></p>
    </header>
    <article>
        {{template "list" .}}
    </article>
</body>
{{template "footer" .}}
{{end}}
