{{template "base" .}}

{{define "title"}}{{.PageTitle}}{{end}}

{{define "meta"}}
<meta name="description" content="{{.Description}}" />
{{end}}

{{define "body"}}
<header>
    <h1 class="text-2xl font-bold">{{.Title}}</h1>
    <p class="font-bold m-0">
        <time datetime="{{.PublishAtISO}}">{{.PublishAt}}</time>
        <span> on </span>
        <a href="/{{.Username}}">{{.Username}}'s blog</a></p>
    {{if .Description}}<div class="my font-italic">{{.Description}}</div>{{end}}
</header>
<main>
    <article>
        {{template "list" .}}
    </article>
</main>
{{template "footer" .}}
{{end}}
