{{template "base" .}}

{{define "title"}}{{.PageTitle}}{{end}}

{{define "body"}}
<body id="post">
    <header>
        <h1><a href="/{{.Username}}" class="text-2xl">{{.Username}}</a></h1>
    </header>
    <article>
        <h2 class="text-xl font-bold">{{.Title}}</h2>
        <ul>
            {{range .Items}}
                <li>{{.Text}}</li>
            {{end}}
        </ul>
    </article>
</body>
{{template "footer" .}}
{{end}}
