{{template "base" .}}

{{define "title"}}privacy -- lists.sh{{end}}

{{define "meta"}}
<meta name="description" content="lists.sh privacy policy" />
{{end}}

{{define "body"}}
<header>
    <h1 class="text-2xl">Privacy (WIP)</h1>
</header>
<main>
    <p>This is the privacy page.</p>
</main>
{{template "marketing-footer" .}}
{{end}}
