{{template "base" .}}

{{define "title"}}discover lists -- lists.sh{{end}}

{{define "meta"}}
<meta name="description" content="discover interesting lists" />
{{end}}

{{define "body"}}
<body id="collection">
    <header>
        <h1 class="text-2xl font-bold">read</h1>
        <p class="text-lg">discover interesting lists</p>
        <hr />
    </header>
    <main>
        {{range .Posts}}
        <article>
            <div class="flex items-center">
                <div class="font-italic text-sm post-date">{{.PublishAt}}</div>
                <div class="flex-1">
                    <div class="text-lg font-bold"><a href="{{.URL}}">{{.Title}}</a></div>
                    <div class="text-sm">by <a href="/{{.Username}}">{{.Username}}</a></div>
                </div>
            </div>
        </article>
        {{end}}
    </main>
    <div>
        {{if .PrevPage}}<a href="{{.PrevPage}}">prev</a>{{end}}
        {{if .NextPage}}<a href="{{.NextPage}}">next</a>{{end}}
    </div>
    {{template "footer" .}}
</body>
{{end}}
