{{template "base" .}}

{{define "title"}}discover lists -- lists.sh{{end}}

{{define "meta"}}
<meta name="description" content="discover interesting lists" />
{{end}}

{{define "body"}}
<header class="text-center">
    <h1 class="text-2xl font-bold">read</h1>
    <p class="text-lg">discover interesting lists</p>
    <hr />
</header>
<main>
    {{range .Posts}}
    <article>
        <div class="flex items-center">
            <time datetime="{{.PublishAtISO}}" class="font-italic text-sm post-date">{{.PublishAt}}</time>
            <div class="flex-1">
                <h2 class="inline"><a href="{{.URL}}">{{.Title}}</a></h2>
                <address class="text-sm inline">
                    <a href="/{{.Username}}" class="link-grey">({{.Username}})</a>
                </address>
            </div>
        </div>
    </article>
    {{end}}
    <div>
        {{if .PrevPage}}<a href="{{.PrevPage}}">prev</a>{{end}}
        {{if .NextPage}}<a href="{{.NextPage}}">next</a>{{end}}
    </div>
</main>
{{template "footer" .}}
{{end}}
