{{template "base" .}}

{{define "title"}}specification -- lists.sh{{end}}

{{define "meta"}}
<meta name="description" content="a specification for lists" />
{{end}}

{{define "body"}}
<header>
    <h1 class="text-2xl">Plain text list specification (v0)</h1>
    <p class="text-sm font-italic">Last updated: <time datetime="2022-04-24">2022-04-24</time></p>
</header>
<main>
    <p>
        The goal of this specification is to understand how we render plain text lists.
        The overall design of this format is to be easy to parse and render.  List
        items are separated by newline characters <code>\n</code>. Each block type can be
        determined by reading the first (3) characters of a line.
    </p>

    <p>
        The source code for our parser can be found
        <a href="https://github.com/neurosnap/lists.sh/blob/main/pkg/parser.go">here</a>.
    </p>

    <p>
        The source code for an example list demonstrating all the features can be found
        <a href="https://github.com/neurosnap/lists-blog/blob/main/spec-example.txt">here</a>.
    </p>

    <section>
        <h2 class="text-xl">File extension</h2>
        <p>
            <a href="/">lists.sh</a> only supports the <code>.txt</code> file extension and will
            ignore all other file extensions.
        </p>
    </section>

    <section>
        <h2 class="text-xl">List item</h2>
        <p>
            Each list item is on its own line.  A list item does not require any special formatting.
            A list item can contain as much text as it wants.  We encourage soft wrapping for readability
            in your editor of choice.  Hard wrapping is not permitted as it will create a new list item.
        </p>
        <p>
            Empty list items are permitted but no more than one consecutive empty list item at a time.
            We also remove the last list item if it is empty.
        </p>
    </section>

    <section>
        <h2 class="text-xl">Hyperlinks</h2>
        <p>
            Hyperlinks are denoted by the prefix <code>=></code>.  The following text should then be
            the hyperlink.
        </p>
        <pre>=> https://lists.sh</pre>
        <p>Optionally you can supply the hyperlink text immediately following the link.</p>
        <pre>=> https://lists.sh microblog for lists</pre>
    </section>

    <section>
        <h2 class="text-xl">Images</h2>
        <p>
            List items can be represented as images by prefixing the line with <code>=<</code>.
        </p>
        <pre>=< https://i.imgur.com/iXMNUN5.jpg</pre>
        <p>Optionally you can supply the image alt text imediately following the link.</p>
        <pre>=< https://i.imgur.com/iXMNUN5.jpg I use arch, btw</pre>
    </section>

    <section>
        <h2 class="text-xl">Headers</h2>
        <p>
            List items can be represented as headers.  We support two headers currently.
        </p>
        <pre># Header One
## Header Two</pre>
    </section>

    <section>
        <h2 class="text-xl">Blockquotes</h2>
        <p>
            List items can be represented as blockquotes.
        </p>
        <pre>> This is a blockquote.</pre>
    </section>

    <section>
        <h2 class="text-xl">Preformatted</h2>
        <p>
            List items can be represented as preformatted text where newline characters are not
            considered part of new list items.  They can be represented by prefixing the line with
            <code>```</code>.
        </p>
        <pre>```
#!/usr/bin/env bash

set -x

echo "this is a preformatted list item!
```</pre>
        <p>
            You must also close the preformatted text with another <code>```</code> on its own line. The
            next example with NOT work.
        </p>
        <pre>```
#!/usr/bin/env bash

echo "This will not render properly"```</pre>
    </section>

    <section>
        <h2 class="text-xl">Variables</h2>
        <p>
            Variables allow us to store metadata within our system.  Variables are list items with
            key value pairs denoted by <code>=:</code> followed by the key, a whitespace character,
            and then the value.
        </p>
        <pre>=: publish_at 2022-04-20</pre>
        <p>These variables will not be rendered to the user inside the list.</p>
        <h3 class="text-lg">List of available variables:</h3>
        <ul>
            <li><code>title</code> (custom title not dependent on filename)</li>
            <li><code>description</code> (what is the purpose of this list?)</li>
            <li><code>publish_at</code> (format must be <code>YYYY-MM-DD</code>)</li>
            <li>
                <code>list_type</code> (customize bullets; value gets sent directly to css property
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type">list-style-type</a>)
            </li>
        </ul>
    </section>
</main>
{{template "marketing-footer" .}}
{{end}}
