{{template "base"}}

{{define "title"}}ops{{end}}

{{define "body"}}
<body id="doc">
    <div>
    <p>This is the transparency page.</p>
    </div>
    {{template "marketing-footer" .}}
</body>
{{end}}
